=begin
#Api Documentation

#Api Documentation

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.2

=end

require 'uri'

module SwaggerClient
  class MarketsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # getAll
    # @param [Hash] opts the optional parameters
    # @return [MultipleOfMarketData]
    def get_all_using_get2(opts = {})
      data, _status_code, _headers = get_all_using_get2_with_http_info(opts)
      data
    end

    # getAll
    # @param [Hash] opts the optional parameters
    # @return [Array<(MultipleOfMarketData, Fixnum, Hash)>] MultipleOfMarketData data, response status code and response headers
    def get_all_using_get2_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketsApi.get_all_using_get2 ...'
      end
      # resource path
      local_var_path = '/markets'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MultipleOfMarketData')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketsApi#get_all_using_get2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # getMArketHours
    # @param date date
    # @param mic mic
    # @param [Hash] opts the optional parameters
    # @return [MarketHours]
    def get_m_arket_hours_using_get(date, mic, opts = {})
      data, _status_code, _headers = get_m_arket_hours_using_get_with_http_info(date, mic, opts)
      data
    end

    # getMArketHours
    # @param date date
    # @param mic mic
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketHours, Fixnum, Hash)>] MarketHours data, response status code and response headers
    def get_m_arket_hours_using_get_with_http_info(date, mic, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketsApi.get_m_arket_hours_using_get ...'
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling MarketsApi.get_m_arket_hours_using_get"
      end
      # verify the required parameter 'mic' is set
      if @api_client.config.client_side_validation && mic.nil?
        fail ArgumentError, "Missing the required parameter 'mic' when calling MarketsApi.get_m_arket_hours_using_get"
      end
      # resource path
      local_var_path = '/markets/{mic}/hours/{date}/'.sub('{' + 'date' + '}', date.to_s).sub('{' + 'mic' + '}', mic.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MarketHours')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketsApi#get_m_arket_hours_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
